<h1>All Songs</h1>
<% @songs.each do |song| %>
  <%= content_tag(:p, song.name) %>
  <ul>
    <li>Artist: <%= link_to song.artist_name, artist_path(song.artist) %></li>
    <li>Genre: <%= link_to song.genre_name, genre_path(song.genre) %></li>
  </ul>
  <br>
<% end %>
  