<h1><%= @song.name %></h1>
<table style="width:50%">
  <tr>
    <th>Artist</th>
    <th>Genre</th>
  </tr>
  <tr>
    <td><%= link_to @song.artist.name, artist_path(@song.artist) %></td>
    <td><%= link_to @song.genre.name, genre_path(@song.genre) %></td>
  </tr>
  </table>

  <%= link_to 'Edit', edit_song_path %>